.distanzaFooter{
    height: 30vh;
}

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.3)), url(/public/img/sfondo.jpg);
}

.dimNavbar{
    height: 10vh;
}

.card-color{
    background-color: rgba(215, 215, 215, 0.926);
}

.btn-color{
    background-color: white;
}

.btn-color:hover{
    background: rgba(0, 0, 255, 0.719);
}

.text{
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
}

.cont-specchio{
    width: 80vw;
    background: linear-gradient(rgba(255, 255, 255, 0.682), rgba(255, 255, 255, 0.169));
}


.contenitore{
    width: 100%;
    height: 100%;
}

.text-a{
    text-decoration: none;
    color: #000;
}